<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hearthstatist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hearthstatist.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HearthStatist</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HearthStatist</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=vodfq0cglh.database.windows.net;Initial Catalog=HearthStatist_db;Persist Security Info=True;User ID=snattu;Password=Clementoni100!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hearthstat.Models.ApplicationDbContext, Hearthstat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HearthStatist_dbConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=vodfq0cglh.database.windows.net;Initial Catalog=HearthStatist_db;Persist Security Info=True;User ID=snattu;Password=Clementoni100!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HearthStatist_dbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=vodfq0cglh.database.windows.net;Initial Catalog=HearthStatist_db;Persist Security Info=True;User ID=snattu;Password=Clementoni100!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=vodfq0cglh.database.windows.net;Initial Catalog=HearthStatist_db;Persist Security Info=True;User ID=snattu;Password=Clementoni100!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HearthStatist_dbConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>